.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cart__icon {
  color: #262626;
  font-size: 2.8rem;
}

.cart__wrapper {
  position: relative;
}

.cart__counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  max-width: 1.8rem;
  max-height: 1.8rem;
  height: 100%;
  width: 100%;
  background-color: rgb(251, 211, 126);
  z-index: 10;
  border-radius: 50%;
  top: 60%;
  right: 60%;
  color: black;
  font-weight: 500;
  border: 2px solid white;
}
