a {
  color: #262626cd;
  font-weight: bold;
}
.footer {
  height: 100px;
  background-color: #74a57f;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 1rem;
  }

  &__logo {
    opacity: 70%;
    height: 30px;
  }
}
